body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.nav-bg {
  display: flex;
  background-color: #1F2937;
  justify-content: center;
}

.nav-bar {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #1F2937;
  width: 70%;
}
  
  .nav-bar h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
  }

  .nav-bar a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
  }

  .nav-bar ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 16px;
    font-size: 18px;
  }

.header-bg {
  display: flex;
  background-color: #1F2937;
  flex-direction: column;
  justify-content: center;
  height: 480px;
}

  .header-bg .header {
    display: flex;
    justify-content: center;
  }

  .header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 70%;
  }

    .container h1 {
      margin: 0;
    }

    .container .signup {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    .container img {
      width: 500px;
      height: auto;
    }
    
    .signup h1 {
      font-size: 48px;
      font-weight: bolder;
      color: #F9FAF8
    }

    .signup p {
      color: #E5E7EB;
    }

    .container .signup button {
      background-color: #3882F6;
      color: white;
      font-weight: normal;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      width: 100px;
      height: 30px;
    }